/*.absolute {
	position: absolute;
}*/

.image {
	position: relative; 
	height: 100%;
	/*width: 100%; /* for IE 6 */
	/*min-width: 1440px;*/
	overflow: hidden;
	bottom: 0;
	right: 0;
}

.hero {
	min-width: 1440px;
	overflow: hidden;
	float: right;
	bottom: 0;
	right: 0;

}

img .hero {
	
}


body {
	margin: 0;
	padding: 0;
	border: 0;
}

div .main-text { 
   position: absolute; 
   top: 120px;
   left: 0;
   padding-left: 64px;
}
.main-text .main-p {
	color: white;
	font: 24px Helvetica, sans-serif;
	margin-top: 8px;
}
h1 {
	color: white;
	font: bold 48px Helvetica, sans-serif;
	margin-bottom: 0px;
}


div .sub-text { 
   position: absolute;
   top: 300px;
   left: 0; 
   width: 60%; 
   padding-left: 64px;
}

p {
	color: white;
	font: 24px Helvetica, sans-serif;
	margin: 2px 0px;
}

a:link, a:visited, a:active {
	text-decoration: underline;
	color: white;
}
a:hover{ 
	text-decoration: bold;
	color: white;
}

@media only screen and (max-width: 768px) {
	div .main-text { 
  		top: 120px;
  		padding-left: 16px;
  	}
  	div .sub-text { 
   		top: 240px;
   		padding-left: 16px;
   	}
   	h1 {
		font: bold 32px Helvetica, sans-serif;
	}
	p {
		font: 16px Helvetica, sans-serif;
	}
}





