.image {
	position: relative; 
	min-height: 100%;
	min-width: 100%;
	bottom: 0;
	right: 0;
}

.hero {
	min-width: 1440px;
	min-height: 100%;
	min-width: 100%;
	float: right;
	bottom: 0;
	right: 0;
}

img .hero {
	position: fixed;
	bottom: 0;
	right: 0;
}


body {
	margin: 0;
	padding: 0;
	border: 0;
}

div .main-text, .sub-text {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 12px;
	margin-right: 16px;
}

div .main-text { 
   position: absolute; 
   top: 140px;
   left: 0;
   margin-left: 64px;
}
.main-text .main-p {
	color: white;
	font: 30px Helvetica, sans-serif;
	margin-top: 8px;
}
h1 {
	color: white;
	font: bold 72px Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}


div .sub-text { 
   position: absolute;
   top: 320px;
   left: 0; 
   margin-left: 64px;
}

p {
	color: white;
  font: 24px Helvetica, sans-serif;
	margin: 2px 0px;
}

p.sidenote {
  font: 12px Helvetica, sans-serif;
}

a:link, a:visited, a:active {
	text-decoration: underline;
	color: white;
}
a:hover{ 
	text-decoration: bold;
	color: white;
}

span.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
	div .main-text { 
  		top: 60px;
  		margin-left: 16px;
  	}
  	.main-text .main-p {
		font: 18px Helvetica, sans-serif;
		margin-top: 8px;
	}
	div .sub-text { 
 		top: 180px;
 		margin-left: 16px;
 	}
 	h1 {
  	font: bold 32px Helvetica, sans-serif;
	}
	p {
		font: 16px Helvetica, sans-serif;
	}
  span.mobile {
    display: inline;
  }
}
}





