/*
h1 {
	font-family: helvetica, arial, sans-serif;
	text-align: center;
}
*/
p {
	font-family: helvetica, arial, sans-serif;
	color: white;
	size: 16px;
	padding: 10px;
}

div {
	width: 100%;
}

img {
	width: 100%;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   min-height: 1080px;
}

h1, h3, { 
   position: absolute; 
   font-size: 64px;
   top: 100px;
   left: 0; 
   width: 100%; 
}

h1, h3, span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   padding: 20px;
}
